assets/art/**/*.glb filter=lfs diff=lfs merge=lfs -text
assets/art/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/art/**/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/art/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
